NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-output-from-openssl-rand-base64-32

KEYCLOAK_CLIENT_ID=app8020-local
KEYCLOAK_CLIENT_SECRET=replace-with-keycloak-client-secret
KEYCLOAK_ISSUER=https://auth.dev.8o2o.de/realms/replace-with-your-realm
